@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <!-- Carousel -->
    <section class="border-1 border-bottom border-black mb-md-5">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            </div>

            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
        </div>
    </section>

    <!-- Product Items -->
    <h2 class="text-center mb-md-3 product-title">SẢN PHẨM MỚI HÔM NAY</h2>

<section class="container-fluid">

    <div class="product-categories d-flex justify-content-center gap-5 mb-md-4">

        @foreach (var category in Model.Categories)
        {
            var isActive = Model.CategoryId == category.Id;

            <div class="pb-md-1 @(isActive ? "border-bottom border-black border-2" : "")">

                <a class="cursor-pointer"
                    hx-get="/?categoryId=@category.Id"
                    hx-target="#product-items"
                    hx-select="#product-items"
                    hx-swap="outerHTML"
                    hx-push-url="true">
     
                    @category.CategoryName

                </a>

            </div>
        }

    </div>

    <partial name="Products/_ProductListMainPartial"
             model="Model.Products" />

</section>


