<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NovaFashion.CustomerSite</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/shop.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NovaFashion.CustomerSite.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Manrope%3A200%2C300%2Cregular%2C500%2C600%2C700%2C800%26subset%3Dlatin%2Clatin-ext&amp;display=swap">
</head>
<body style="display: flex; flex-direction: column; min-height: 100vh;">
    
    <header class="container-fluid mx-0 px-0 border-bottom border-opacity-10 border-dark">
        <div class="row align-items-center py-md-3 py-3">
            <!-- Navigation Mobile -->
            <div class="col-2 d-md-none d-block">
                <nav class="dropdown ">
                    <a class="d-flex justify-content-center align-items-center text-decoration-none" href="#"
                           data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-bars" style="color: rgb(30, 48, 80); font-size: 1.5rem;"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </nav>
            </div>

            <!-- HEADER-LOGO -->
            <div class="col-md-4 col-7 d-md-block d-flex justify-content-center ps-5">
                <a asp-page="/Index"> <img src="https://res.cloudinary.com/novafashion/image/upload/w_162,h_20,c_fill/v1776763238/novafashion_logo_uoa7wz.png" alt="Logo"></a>
            </div>

            <!-- HEADER-NAV -->
            <div class="col-md-4 d-md-block d-none">
                <nav class="d-md-flex justify-content-center gap-5 header_nav" >
                    <a asp-page="/Index" class="header_nav-link">TRANG CHỦ</a>
                    <a asp-page="/Products/Products" 
                       asp-route-SortBy="Newest"
                       asp-route-PageNumber="1"
                       asp-route-PageSize="5"                 
                       class="header_nav-link">MUA SẮM</a>
                    <a href="" class="header_nav-link">LIÊN HỆ</a>
                </nav>
            </div>

            <!-- HEADER-ACTION -->
            <div class="col-md-4 col-3 pe-md-5 d-flex justify-content-end">
                <ul class="list-group list-group-horizontal">

                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <li class="list-group-item d-none d-md-block border-0">
                            <a href="#" title="Search">
                                <i class="fa-brands fa-sistrix text-black"></i>
                            </a>
                        </li>

                       <li class="list-group-item d-none d-md-block border-0">
                            <div class="dropdown">
                                <a href="#" 
                                   class="dropdown-toggle" 
                                   data-bs-toggle="dropdown" 
                                   aria-expanded="false"
                                   title="Account">
                                    <i class="fa-regular fa-user text-black"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-end profile-menu">
                                    <li>
                                        <div class="greeting px-3 py-2">
                                            Xin chào, <strong>@User.Identity?.Name</strong>
                                        </div>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item menu-item" href="/Orders">
                                            <i class="fa-solid fa-bag-shopping"></i> Đơn Hàng
                                        </a>
                                    </li>
                                    <li>
                                        <form method="post" asp-page="/Auths/Logout">
                                            <button type="submit" class="dropdown-item menu-item">
                                                <i class="fa-solid fa-right-from-bracket"></i> Đăng xuất
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </li>
           
                        <li class="list-group-item border-0 d-md-block">
                            <a href="#" class="cart-icon" title="Shopping Cart">
                                <i class="fa-solid fa-bag-shopping text-black"></i>
                                <!-- <span class="cart-count">0</span> -->
                            </a>
                        </li>

                        @* <li class="list-group-item d-none d-md-flex border-0 align-items-center gap-2">

                            <span class="text-black">
                                Hello, @User.Identity.Name
                            </span>

                            <form method="post" asp-page="/Auths/Logout">
                                <button type="submit"
                                        class="btn btn-sm btn-outline-dark">
                                    Logout
                                </button>
                            </form>

                        </li> *@
                    }
                    else
                    {
                         <li class="list-group-item d-none d-md-block border-0">
                            <a href="#" title="Search">
                                <i class="fa-brands fa-sistrix text-black"></i>
                            </a>
                        </li>

                        <li class="list-group-item d-none d-md-block border-0">
                            <a asp-page="/Auths/Login" title="Account">
                                <i class="fa-regular fa-user text-black"></i>
                            </a>
                        </li>  
                   
                        <li class="list-group-item border-0 d-md-block">
                            <a href="#" class="cart-icon" title="Shopping Cart">
                                <i class="fa-solid fa-bag-shopping text-black"></i>
                                <!-- <span class="cart-count">0</span> -->
                            </a>
                        </li>
                    }                                 
                </ul>
            </div>
        </div>

        <hr class="my-0 border-1 border-black">
    </header>

    <main style="flex: 1;">
        @RenderBody()
    </main>

    <footer class="mt-3">
        <div class="row">
            <div class="col-12 col-md-4 px-0 footer-subcription">
                <div class="d-flex flex-column">
                    <div>
                        <h2 class="">
                            Sign up to get 10% off your first order and stay up to date on
                            the latest product releases, special offers and news
                        </h2>
                    </div>
                    <div>
                        <input class="" size="40" maxlength="400" placeholder="Your Email *" name="your_email"
                               value="" />
                    </div>
                    <div>
                        <input class="" type="submit" name="name" value="SUBSCRIBE" />
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 px-md-0 footer-nav">
                <ul class="list-unstyled">
                    <li class="pb-md-1">SHOP</li>
                    <li class="pb-md-1">FAQ</li>
                    <li class="pb-md-1">SHIPPING</li>
                    <li class="pb-md-1">RETURNS</li>
                    <li class="pb-md-1">TERM & CONDITIONS</li>
                    <li class="">PRIVACY POLICY</li>
                </ul>
            </div>
            <div class="col-12 col-md-4 footer-contact-info">
                <div class="d-flex flex-column">
                    <div>
                        <h2 class="">
                            If you have any questions regarding your order, products or our service, please
                            contact our customer service.
                        </h2>
                    </div>
                    <div class="">
                        <span>EVERYDAY: 6:00 AM - 22:00 PM</span>
                    </div>
                    <div class="">
                        <span class="label">PHONE:</span>
                        <span class="value">+84 932-100-437</span>
                    </div>

                    <div class="">
                        <span class="label">EMAIL:</span>
                        <span class="value">NOVAFASHION@OFFICIAL.COM</span>
                    </div>

                    <div class="">
                        <span class="label">ADDRESS:</span>
                        <span class="value">364 Cong Hoa Street, Tan Binh District, Ho Chi Minh City</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/22c7ec7d54.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/js/site.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
    <script src="~/js/htmx-helper.js"></script>
    <script src="~/js/cartService.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
