@model ProductsModel

<div class="container py-5">
    <div class="row g-4">
        <!-- Filter Sidebar -->
        <aside class="col-lg-3">
            
            <partial name="/Pages/Categories/_CategoryFilterPartial.cshtml" model="Model.Categories" />
            <partial name="_PriceFilterPartial" model="Model" />
            
        </aside>

        <!-- Main -->
        <div class="col-lg-9">

            <partial name="_SortByPartial" model="Model" />

            <div class="row g-4">

                <partial name="_ProductListPartial" model="Model" />
                <partial name="_PaginationPartial" model="Model" />

            </div>

        </div>
    </div>
</div>