@page "/shop"
@model ProductsModel
@{
    ViewData["Title"] = "Mua sắm";
}


<div id="product-container">
    <partial name="_ProductContainerPartial" model="Model" />
</div>

@* Layout = Request.Headers.ContainsKey("HX-Request") ? null : "_Layout";  *@